<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <header>
      <a href="/">  <h1>Play TO Win</h1> </a>
        <nav>
            <a href="/usuarios">Usuario</a> 
            <a href="/jogos">Jogos</a>
        </nav>
    </header>
    <main>
        {{{body}}}
  </main>
  </html>